<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medicine Recommender System</title>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3
 .7/dist/css/bootstrap.min.css"
 integrity=" sha384-BVYiiSIFeK1dGmJRAkycuHAHRg320mUcww7on3RYdg4Va+PmSTsz
 /K68vbdEjh4u" crossorigin="anonymous">

</head>
<style>
  .text-white{
      color:white
  }

</style>
<body style="background-color:black">

    <nav class="navbar" style="background-color:#00a65a">
      <a class="navbar-brand">Medicine Recommendation System </a>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/recommend">Recommend</a></li>
        <li><a>Contact</a></li>
      </ul>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white">Personalized Medicine Recommender </h1>
        </div>

        <div class="col-3" style="margin-top:50px">
          <div class="card">
            <div class="card-body">
              <img class="card-img-top" src="https://t4.ftcdn.net/jpg/01/18/42/59/360_F_118425925_n2GZJR42P1ai0p3qYmNe375LCd6kQ9R4.webp">
            </div>
          </div>
        </div>
      </div>
    </div>



</body>
</html>